body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ====== APP VARIABLES ====== */

:root {
  --app-padding: 30px 60px;
  --app-height: 100%;
  /* === LIGHT MODE === */
  --primary-line: #01092B;

}

@font-face {
  font-family: "Neusa Next Std";   /*Can be any text*/
  src: local("Neusa Next Std"),
    url("./fonts/NeusaNextStdTrial-Regular-BF63ec3d6dd0eb5.otf") format("truetype");
}

p {
  font-family: "Neusa Next Std", sans-serif;
  font-size: 20px;
}

h2 {
  font-family: "magno-sans-variable", sans-serif;
  font-size: 44px;
  font-variation-settings: "wght" 400;
  margin: 0;
}

h3 {
  font-family: "magno-sans-variable", sans-serif;
  font-size: 40px;
  font-variation-settings: "wght" 400;
  margin: 0;
}

h5 {
  font-family: "magno-sans-variable", sans-serif;
  font-size: 32px;
  font-variation-settings: "wght" 400;
  margin: 0;
}

/* ====== MENU ====== */

.nav-wrapper {
  box-sizing: border-box;
  display: grid;
  padding: var(--app-padding);
  position: fixed;
  width: 100vW;
}

.main-nav-wrapper {
  align-items: center;
  column-gap: 30px;
  display: flex;
}

.horizontal-line {
  background-color: var(--primary-line);
  height: 2px;
  width: 60%;
}

.subnav-wrapper {
  align-items: flex-end;
  border-right: 1px solid var(--primary-line);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 30px;
  padding-right: 30px;
  overflow: hidden;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.subnav-wrapper > a {
  color: inherit;
  opacity: 50%;
  transition-duration: 300ms;
  text-decoration: none;
}

.subnav-wrapper > a:hover {
  opacity: 100%;
  transition-duration: 300ms;
}

/* ====== PAGE LAYOUT ====== */

.page-wrapper {
  display: flex;
  column-gap: 30px;
  padding-left: 140px;
  min-height: var(--app-height);
}

.main-container > p {
  margin-bottom: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 60%;
}

.side-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 30%;
}

/* ====== ABOUT ====== */

.about-page {
  justify-content: flex-end;
  box-sizing: border-box;
}

.side-container > a {
  color: inherit;
  text-decoration: none;
  opacity: 50%;
  transition-duration: 300ms;
}

.side-container > a:hover {
  opacity: 100%;
  transition-duration: 300ms;
}